In [1]:
import pandas as pd

In [2]:
YearJoined = pd.read_csv("https://raw.githubusercontent.com/PracticalTimeSeriesAnalysis/BookRepo/master/Ch02/data/year_joined.csv")
emails = pd.read_csv("https://raw.githubusercontent.com/PracticalTimeSeriesAnalysis/BookRepo/master/Ch02/data/emails.csv")
donations = pd.read_csv("https://raw.githubusercontent.com/PracticalTimeSeriesAnalysis/BookRepo/master/Ch02/data/donations.csv")

### 데이터 결측값을 확인
- email의 주단위 데이터 결측값을 확인하자

In [7]:
emails[emails.user == 998]

       emailsOpened   user                 week
25464           1.0  998.0  2017-12-04 00:00:00
25465           3.0  998.0  2017-12-11 00:00:00
25466           3.0  998.0  2017-12-18 00:00:00
25467           3.0  998.0  2018-01-01 00:00:00
25468           3.0  998.0  2018-01-08 00:00:00
25469           2.0  998.0  2018-01-15 00:00:00
25470           3.0  998.0  2018-01-22 00:00:00
25471           2.0  998.0  2018-01-29 00:00:00
25472           3.0  998.0  2018-02-05 00:00:00
25473           3.0  998.0  2018-02-12 00:00:00
25474           3.0  998.0  2018-02-19 00:00:00
25475           2.0  998.0  2018-02-26 00:00:00
25476           2.0  998.0  2018-03-05 00:00:00
25477           3.0  998.0  2018-03-12 00:00:00
25478           2.0  998.0  2018-03-19 00:00:00
25479           2.0  998.0  2018-03-26 00:00:00
25480           3.0  998.0  2018-04-02 00:00:00
25481           3.0  998.0  2018-04-09 00:00:00
25482           3.0  998.0  2018-04-16 00:00:00
25483           3.0  998.0  2018-04-30 00:00:00
25484           3.0  998.0  2018-05-07 00:00:00
25485           3.0  998.0  2018-05-14 00:00:00
25486           3.0  998.0  2018-05-21 00:00:00
25487           3.0  998.0  2018-05-28 00:00:00

In [6]:
#998 유저의 데이터 개수
emails[emails.user == 998].shape

(24, 3)

In [8]:
# 빈곳의 날짜를 채워넣기
# 판다스 다중 색인을 통해 주 삽입
complete_idx = pd.MultiIndex.from_product((set(emails.week),set(emails.user)))

- multiindex는 모든 회원과 주에대한 모든 조합을 생성한다 ( 카테시안 곱)

In [9]:
#complete_idx 로 재색인

all_email = emails.set_index(['week', 'user']).reindex(complete_idx, fill_value=0).reset_index()
all_email.columns = ['week', 'user', 'emailsOpened']

In [12]:
all_email[all_email.user == 998].sort_values('week')

                      week   user  emailsOpened
45814  2015-02-09 00:00:00  998.0           0.0
7545   2015-02-16 00:00:00  998.0           0.0
5389   2015-02-23 00:00:00  998.0           0.0
87856  2015-03-02 00:00:00  998.0           0.0
11318  2015-03-09 00:00:00  998.0           0.0
...                    ...    ...           ...
39346  2018-04-30 00:00:00  998.0           3.0
51204  2018-05-07 00:00:00  998.0           3.0
46892  2018-05-14 00:00:00  998.0           3.0
29105  2018-05-21 00:00:00  998.0           3.0
16169  2018-05-28 00:00:00  998.0           3.0

[173 rows x 3 columns]

- 이런식으로 재색인을 해줄시 중간에 빈곳뿐만 아니라 앞에 빈곳도 채워주는 효과를 갖는다